{% extends 'base.twig' %}



{% block content %}

    <table id="toc" class="toc">
        <tr>
            <td>
                <div id="toctitle">
                    <h2>Contents</h2>
                </div>
                <ul>
                    <li class="toclevel-1 tocsection-1"><a href="#Official_games"><span class="tocnumber">1</span> <span class="toctext">Official games</span></a></li>
                    <li class="toclevel-1 tocsection-2"><a href="#JungleTAC_games"><span class="tocnumber">2</span> <span class="toctext">JungleTAC games</span></a></li>
                    <li class="toclevel-1 tocsection-3"><a href="#Dingoo_A320-compatible_games_by_other_commercial_developers"><span class="tocnumber">3</span> <span class="toctext">Dingoo A320-compatible games by other commercial developers</span></a></li>
                    <li class="toclevel-1 tocsection-4"><a href="#Homebrew"><span class="tocnumber">4</span> <span class="toctext">Homebrew</span></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <script>
        if (window.showTocToggle) {
            var tocShowText = "show";
            var tocHideText = "hide";
            showTocToggle();
        }
    </script>
    <h3> <span class="mw-headline" id="Official_games">Official games</span></h3>
    <p><b>Note:</b> Some games are multilanguage: these games adapt themselves to the current firmware language.
    </p>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> Publisher
            </th>
            <th> English Version
            </th>
            <th> Chinese Version
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=7_Days:_Salvation&amp;action=edit&amp;redlink=1" class="new" title="7 Days: Salvation (page does not exist)">7 Days: Salvation</a>
            </td>
            <td> A horror survival game, clearly inspired by Resident Evil on the PlayStation 1.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307371545/7_Days_Salvation__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/7_Days_Salvation_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> <a href="http://www.megaupload.com/pt/?d=OX074RUJ" class="external text" rel="nofollow">MegaUpload</a> <a href="http://rapidshare.com/files/307359983/7_Days_Salvation__Chinese_.app" class="external text" rel="nofollow">RapidShare</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Candy%27s_House&amp;action=edit&amp;redlink=1" class="new" title="Candy's House (page does not exist)">Candy's House</a>
            </td>
            <td> A rotate-the-blocks-to-match-them-up game.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307350588/Candy_s_House__English___Chinese_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Candy%5C%27s_House_(English_+_Chinese).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> Adapts to firmware language.
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Decollation_Warrior&amp;action=edit&amp;redlink=1" class="new" title="Decollation Warrior (page does not exist)">Decollation Warrior</a>
            </td>
            <td> A 3D adventure/fighting game. Also known as hsingtin.app, after the name of one of the main characters in the game.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307352449/Decollation_Warrior__English___Chinese_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Decollation_Warrior_(English_+_Chinese).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> Adapts to firmware language.
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Dingoo_Link_Em_Up&amp;action=edit&amp;redlink=1" class="new" title="Dingoo Link Em Up (page does not exist)">Dingoo Link Em Up</a>
            </td>
            <td> Connect two tiles to each other to remove them from the board. Your line can make a maximum of two turns, and you can't go through other blocks. Loosely inspired by Mahjong, so it seems.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307353239/Dingoo_Link_Em_Up__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Dingoo_Link_Em_Up_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> <a href="http://rapidshare.com/files/307352789/Dingoo_Link_Em_Up__Chinese_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Dingoo_Link_Em_Up_(Chinese).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Dingoo_Snake&amp;action=edit&amp;redlink=1" class="new" title="Dingoo Snake (page does not exist)">Dingoo Snake</a>
            </td>
            <td> A rebranded version of China Chip Snake.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307353666/Dingoo_Snake__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Dingoo_Snake_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Hellstriker_II&amp;action=edit&amp;redlink=1" class="new" title="Hellstriker II (page does not exist)">Hellstriker II</a>
            </td>
            <td> 3D Fighting game, also known as World Road, english and chinese version
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://www.megaupload.com/?d=BR9O7EUM" class="external text" rel="nofollow">Megauplad</a> <a href="http://www.mediafire.com/?dtqjzmmz0wu" class="external text" rel="nofollow">Mediafire</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Tetris_Modified&amp;action=edit&amp;redlink=1" class="new" title="Tetris Modified (page does not exist)">Tetris Modified</a>
            </td>
            <td> A modified version of Tetris, with changed music and sound effects. The rest seems to be the same.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307341832/Tetris_Modified__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Tetris_Modified_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Ultimate_Drift&amp;action=edit&amp;redlink=1" class="new" title="Ultimate Drift (page does not exist)">Ultimate Drift</a>
            </td>
            <td> A drifting-focused racing game.
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://rapidshare.com/files/307346235/Ultimate_Drift__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Ultimate_Drift_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> <a href="http://rapidshare.com/files/307343822/Ultimate_Drift__Chinese_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Ultimate_Drift_(Chinese).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
        </tr>
    </table>
    <h3> <span class="mw-headline" id="JungleTAC_games">JungleTAC games</span></h3>
    <p>Official Dingoo have JungleTAC games that the GBA emulator loads/plays. These do NOT work on unofficial Dingoos.
    </p>
    <p>Current best guess is that these rom files are for 16 bit Sunplus SPG260 System-on-a-Chip.
    </p>
    <p>See <a href="http://www.jungletac.com/" class="external free" rel="nofollow">http://www.jungletac.com/</a> , <a href="http://en.wikipedia.org/wiki/Pelican_VG_Pocket" class="external free" rel="nofollow">http://en.wikipedia.org/wiki/Pelican_VG_Pocket</a> , and <a href="http://bootleggames.wikia.com/wiki/Jungletac" class="external free" rel="nofollow">http://bootleggames.wikia.com/wiki/Jungletac</a>
    </p>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th> romname
            </th>
            <th> Name
            </th>
        </tr>
        <tr>
            <td> 1001.JGC
            </td>
            <td> Tiger Rescue
            </td>
        </tr>
        <tr>
            <td> 1002.JGC
            </td>
            <td> Hero Legend
            </td>
        </tr>
        <tr>
            <td> 1003.JGC
            </td>
            <td> Jewel Fever 2
            </td>
        </tr>
        <tr>
            <td> 1004.JGC
            </td>
            <td> Pinball Fish
            </td>
        </tr>
        <tr>
            <td> 1005.JGC
            </td>
            <td> Fire Fighter
            </td>
        </tr>
        <tr>
            <td> 1006.JGC
            </td>
            <td> Pop Ball
            </td>
        </tr>
        <tr>
            <td> 1007.JGC
            </td>
            <td> Super Move Quest
            </td>
        </tr>
        <tr>
            <td> 1008.JGC
            </td>
            <td> Squirrel Bobble
            </td>
        </tr>
        <tr>
            <td> 1009.JGC
            </td>
            <td> Bump Bomb
            </td>
        </tr>
        <tr>
            <td> 1010.JGC
            </td>
            <td> Hide and Seek
            </td>
        </tr>
        <tr>
            <td> 1011.JGC
            </td>
            <td> Jewel Master
            </td>
        </tr>
        <tr>
            <td> 1012.JGC
            </td>
            <td> Manic Troll
            </td>
        </tr>
        <tr>
            <td> 1013.JGC
            </td>
            <td> Rolling Cube
            </td>
        </tr>
        <tr>
            <td> 1014.JGC
            </td>
            <td> Rapid Stream
            </td>
        </tr>
        <tr>
            <td> 1015.JGC
            </td>
            <td> Bubble Blaster
            </td>
        </tr>
        <tr>
            <td> 1016.JGC
            </td>
            <td> Hot Drop
            </td>
        </tr>
    </table>
    <h3> <span class="mw-headline" id="Dingoo_A320-compatible_games_by_other_commercial_developers">Dingoo A320-compatible games by other commercial developers</span></h3>
    <p><b>Note:</b> These games are generally developed for the Gemei x760+, but they can be played on the Dingoo A320.
    </p>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> Publisher
            </th>
            <th> English Version
            </th>
            <th> Chinese Version
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Block_Breaker&amp;action=edit&amp;redlink=1" class="new" title="Block Breaker (page does not exist)">Block Breaker</a>
            </td>
            <td> A Block Breaker clone.
            </td>
            <td> Unknown
            </td>
            <td> <a href="http://rapidshare.com/files/307350066/Block_Breaker__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Block_Breaker_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Chinachip_Snake&amp;action=edit&amp;redlink=1" class="new" title="Chinachip Snake (page does not exist)">Chinachip Snake</a>
            </td>
            <td> A remake of Snake.
            </td>
            <td> Chinachip
            </td>
            <td> <a href="http://rapidshare.com/files/307350644/Chinachip_Snake__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Chinachip_Snake_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Tetris&amp;action=edit&amp;redlink=1" class="new" title="Tetris (page does not exist)">Tetris</a>
            </td>
            <td> A remake of Tetris.
            </td>
            <td> Unknown
            </td>
            <td> <a href="http://rapidshare.com/files/307353720/Tetris__English_.app" class="external text" rel="nofollow">RapidShare</a> <a href="http://dump.no/files/882bd6bbaf4c/Tetris_(English).app" class="external text" rel="nofollow">Dump.no</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Yi-chi_King_Fighter&amp;action=edit&amp;redlink=1" class="new" title="Yi-chi King Fighter (page does not exist)">Yi-chi King Fighter</a>
            </td>
            <td> A 1942-like scrolling shooter game.
            </td>
            <td> Unknown
            </td>
            <td> n/a
            </td>
            <td> <a href="http://www.mediafire.com/?t4mdnw2mwen" class="external text" rel="nofollow">MediaFire</a> <a href="http://www.megaupload.com/pt/?d=0Q2USKSK" class="external text" rel="nofollow">MegaUpload</a>
            </td>
        </tr>
    </table>
    <p><br />
    </p>
    <h3> <span class="mw-headline" id="Homebrew">Homebrew</span></h3>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> (Port) Author
            </th>
            <th> Download
            </th>
            <th> Mirror
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Astro_Lander&amp;action=edit&amp;redlink=1" class="new" title="Astro Lander (page does not exist)">Astro Lander</a>
            </td>
            <td> arcade game
            </td>
            <td> Flatmush (aka Ben Brewer)
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,1,0,0,27,51" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="http://flatmush.juliusparishy.com/a320/" class="external text" rel="nofollow">Official Website</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Chip_World&amp;action=edit&amp;redlink=1" class="new" title="Chip World (page does not exist)">Chip World</a>
            </td>
            <td> Chip's Challenge clone
            </td>
            <td> Harteex
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,1,0,0,3,348" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="http://www.harteex.com/files/ChipWorld1.0.zip" class="external text" rel="nofollow">Official Website</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Formula_1_Game%26Watch&amp;action=edit&amp;redlink=1" class="new" title="Formula 1 Game&amp;Watch (page does not exist)">Formula 1 Game&amp;Watch</a>
            </td>
            <td> Game&amp;Watch racing game
            </td>
            <td> joyrider
            </td>
            <td> <a href="http://www.pdroms.de/files/2099/" class="external text" rel="nofollow">PD roms</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Mine_Sweeper&amp;action=edit&amp;redlink=1" class="new" title="Mine Sweeper (page does not exist)">Mine Sweeper</a>
            </td>
            <td> Mine Sweeper clone
            </td>
            <td> Flatmush (aka Ben Brewer)
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,1,0,0,25,46" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="http://flatmush.juliusparishy.com/a320/" class="external text" rel="nofollow">Official Website</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Manic_Miner&amp;action=edit&amp;redlink=1" class="new" title="Manic Miner (page does not exist)">Manic Miner</a>
            </td>
            <td> Port of <i>Manic Miner</i>
            </td>
            <td> Alekmaul
            </td>
            <td> <a href="http://www.portabledev.com/files/filedwnld.php?file=ManicMinerV10.zip" class="external text" rel="nofollow">Official Website</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Rubido&amp;action=edit&amp;redlink=1" class="new" title="Rubido (page does not exist)">Rubido</a>
            </td>
            <td> Port of <i>Rubido</i>
            </td>
            <td> joyrider
            </td>
            <td> <a href="http://www.pdroms.de/files/2092/" class="external text" rel="nofollow">PD roms</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SameGoo&amp;action=edit&amp;redlink=1" class="new" title="SameGoo (page does not exist)">SameGoo</a>
            </td>
            <td> SameGame clone
            </td>
            <td> Harteex
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,1,0,0,25,153" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="http://www.harteex.com/files/SameGoo1.21.zip" class="external text" rel="nofollow">Official Website</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Spout_(native_OS)&amp;action=edit&amp;redlink=1" class="new" title="Spout (native OS) (page does not exist)">Spout</a>
            </td>
            <td> arcade game
            </td>
            <td> Alekmaul
            </td>
            <td> <a href="http://www.portabledev.com/modules/download_gallery/dlc.php?file=428&amp;id=1271487756" class="external text" rel="nofollow">Official Website</a>
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SzSokoban&amp;action=edit&amp;redlink=1" class="new" title="SzSokoban (page does not exist)">szSokoban</a>
            </td>
            <td> Sokoban game
            </td>
            <td> Subzero
            </td>
            <td> <a href="http://www.pdroms.de/files/2106/" class="external text" rel="nofollow">PD roms</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SzSudoku&amp;action=edit&amp;redlink=1" class="new" title="SzSudoku (page does not exist)">szSudoku</a>
            </td>
            <td> Sudoku game
            </td>
            <td> Subzero
            </td>
            <td> <a href="http://www.pdroms.de/files/2104/" class="external text" rel="nofollow">PD roms</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Wolf3D&amp;action=edit&amp;redlink=1" class="new" title="Wolf3D (page does not exist)">Wolf3D</a>
            </td>
            <td> Wolfenstein 3D port
            </td>
            <td> Alekmaul
            </td>
            <td> <a href="http://www.portabledev.com/modules/download_gallery/dlc.php?file=430&amp;id=1271869465" class="external text" rel="nofollow">Alekmaul´s site</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=XRickoo&amp;action=edit&amp;redlink=1" class="new" title="XRickoo (page does not exist)">xRickoo</a>
            </td>
            <td> xrick port
            </td>
            <td> Alekmaul &amp; BigOrno
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,1,0,0,27,136" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="http://www.portabledev.com/modules/download_gallery/dlc.php?file=396&amp;id=1261650266" class="external text" rel="nofollow">Official Website</a>
            </td>
        </tr>
    </table>




{% endblock %}
