{% extends 'base.twig' %}



{% block content %}

    <h3> <span class="mw-headline" id="SIM_notes">SIM notes</span></h3>
    <p>Dingoo emulators are .SIM , they are mapped to specific file extensions (see table below), if there are 2 SIMs that support the same file extension the program used for the file type is undefined.
    </p>
    <p>File extension to .SIM to mapping is setup when the Juke box is updated, this occurs either when:
    </p>
    <ul>
        <li> disconnecting the Dingoo from the USB port
        </li>
        <li> Updating the jukebox manually, from Native menu; Music -&gt; Update Jukebox
        </li>
    </ul>
    <p><br /> If you get the error "Simulator not exit, download please!", update the jukebox!
    </p>
    <h3> <span class="mw-headline" id="Official_emulators">Official emulators</span></h3>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> Author
            </th>
            <th> Download
            </th>
            <th> Compatibility List
            </th>
        </tr>
        <tr>
            <td> CPS1
            </td>
            <td> Capcom Play System
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,279" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=CPS1_CompList" title="CPS1 CompList">CPS1 CompList</a>
            </td>
        </tr>
        <tr>
            <td> CPS2
            </td>
            <td> Capcom Play System II
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,73,280" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=CPS2_CompList" title="CPS2 CompList">CPS2 CompList</a>
            </td>
        </tr>
        <tr>
            <td> GBA
            </td>
            <td> Gameboy Advance
            </td>
            <td> Shenzen Dingoo Digital *
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,285" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=GBA_CompList" title="GBA CompList">GBA CompList</a>
            </td>
        </tr>
        <tr>
            <td> MD
            </td>
            <td> Sega Mega Drive
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,284" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=MD_CompList&amp;action=edit&amp;redlink=1" class="new" title="MD CompList (page does not exist)">MD CompList</a>
            </td>
        </tr>
        <tr>
            <td> MVS
            </td>
            <td> Neo-Geo
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,281" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=MVS_CompList" title="MVS CompList">MVS CompList</a>
            </td>
        </tr>
        <tr>
            <td> NES
            </td>
            <td> NES
            </td>
            <td> Shenzen Dingoo Digital
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,282" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=NES_CompList&amp;action=edit&amp;redlink=1" class="new" title="NES CompList (page does not exist)">NES CompList</a>
            </td>
        </tr>
        <tr>
            <td> SFC
            </td>
            <td> SNES
            </td>
            <td> Shenzen Dingoo Digital **
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,283" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> <a href="/{{ page.base }}?title=SFC_CompList" title="SFC CompList">SFC CompList</a>
            </td>
        </tr>
        <tr>
            <td> JGC
            </td>
            <td> JungleTAC (use GBA emu)
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <p><i>*</i> It is speculated that this emulator is in fact based on <a href="http://gpsp-dev.blogspot.com/" class="external text" rel="nofollow">GPSP</a> Gameboy Advance emulator source code, violating the GPL license.
    </p>
    <p><i>**</i> <a href="http://assemblergames.com/forums/showpost.php?p=336636&amp;postcount=66" class="external text" rel="nofollow">It has been proven</a> that this emulator is in fact based on <a href="http://www.snes9x.com/" class="external text" rel="nofollow">SNES9x</a> Super Nintendo emulator source code, violating the GPL license.
    </p>
    <p>See <a href="/{{ page.base }}?title=Non-Working_Games&amp;action=edit&amp;redlink=1" class="new" title="Non-Working Games (page does not exist)">Non-Working Games</a> for a list of games that don't work on the native emulators.
    </p>
    <h3> <span class="mw-headline" id="Homebrew_emulators">Homebrew emulators</span></h3>
    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> (Port) Author
            </th>
            <th> Download
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Atari800&amp;action=edit&amp;redlink=1" class="new" title="Atari800 (page does not exist)">Atari800</a>
            </td>
            <td> Atari 800 Emulator
            </td>
            <td> alsp
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,72,287" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=ColecOO&amp;action=edit&amp;redlink=1" class="new" title="ColecOO (page does not exist)">ColecOO</a>
            </td>
            <td> Colecovision Emulator
            </td>
            <td> alekmaul
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,230" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DingooHuGo&amp;action=edit&amp;redlink=1" class="new" title="DingooHuGo (page does not exist)">DingooHuGo</a>
            </td>
            <td> <a href="http://en.wikipedia.org/wiki/TurboGrafx-16" class="external text" rel="nofollow">PC Engine / TurboGrafx-16 Emulator</a>
            </td>
            <td> clach04
            </td>
            <td> <a href="https://bitbucket.org/clach04/dingoo_hugo/downloads" class="external text" rel="nofollow">BitBucket</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DingooNES&amp;action=edit&amp;redlink=1" class="new" title="DingooNES (page does not exist)">DingooNES</a>
            </td>
            <td> NES Emulator
            </td>
            <td> lion_rsm
            </td>
            <td> <a href="http://rsm-files.narod.ru/dep/DEPv11.zip" class="external text" rel="nofollow">Narod</a>(Part of the Dingoo Emulation Pack 1.1)
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DingooSNES&amp;action=edit&amp;redlink=1" class="new" title="DingooSNES (page does not exist)">DingooSNES</a>
            </td>
            <td> SNES Emulator
            </td>
            <td> lion_rsm
            </td>
            <td> <a href="http://rsm-files.narod.ru/dep/DEPv11.zip" class="external text" rel="nofollow">Narod</a>(Part of the Dingoo Emulation Pack 1.1)
            </td>
        </tr>

        <tr>
            <td> <a href="/{{ page.base }}?title=DingooSMS&amp;action=edit&amp;redlink=1" class="new" title="DingooSMS (page does not exist)">DingooSMS</a>
            </td>
            <td> Sega Master System/GameGear Emulator
            </td>
            <td> lion_rsm
            </td>
            <td> <a href="http://rsm-files.narod.ru/dep/DEPv11.zip" class="external text" rel="nofollow">Narod</a>(Part of the Dingoo Emulation Pack 1.1)
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DOOEngine&amp;action=edit&amp;redlink=1" class="new" title="DOOEngine (page does not exist)">DOOEngine</a>
            </td>
            <td> <a href="http://en.wikipedia.org/wiki/TurboGrafx-16" class="external text" rel="nofollow">PC Engine / TurboGrafx-16 Emulator</a>
            </td>
            <td> alekmaul
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,146" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=OhBoy_and_gnuboy&amp;action=edit&amp;redlink=1" class="new" title="OhBoy and gnuboy (page does not exist)">OhBoy and gnuboy</a>
            </td>
            <td> Gameboy and Gameboy Color Emulator
            </td>
            <td> clach04
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,70" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=GBC_%26_GB&amp;action=edit&amp;redlink=1" class="new" title="GBC &amp; GB (page does not exist)">GBC &amp; GB</a>
            </td>
            <td> Gameboy and Gameboy Color Emulator
            </td>
            <td> Crossidia
            </td>
            <td> <a href="http://code.google.com/p/ohboy/" class="external text" rel="nofollow">OhBoy Google code</a> <a href="http://code.google.com/p/gnuboy/" class="external text" rel="nofollow">gnuboy Google code</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Gnuboy&amp;action=edit&amp;redlink=1" class="new" title="Gnuboy (page does not exist)">Gnuboy</a>
            </td>
            <td> Gameboy and Gameboy Color Emulator
            </td>
            <td> Joyrider
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,216" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=LynGOO&amp;action=edit&amp;redlink=1" class="new" title="LynGOO (page does not exist)">LynGOO</a>
            </td>
            <td> Atari Lynx Emulator port of Keith Wilkins
            </td>
            <td> Spiller
            </td>
            <td> <a href="http://www.vdklip.com/dingoo/" class="external text" rel="nofollow">Release page (all recent ver.)</a>
                <p><a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,195" class="external text" rel="nofollow">Dingoo File Archive</a>
                </p>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Mame4All&amp;action=edit&amp;redlink=1" class="new" title="Mame4All (page does not exist)">Mame4All</a>
            </td>
            <td> MAME 0.37b5
            </td>
            <td> alekmaul
            </td>
            <td> <a href="http://www.portabledev.com/pages/dingoo/jeuxdev.-perso/mame4all.php" class="external text" rel="nofollow">Release Page</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=MVS&amp;action=edit&amp;redlink=1" class="new" title="MVS (page does not exist)">MVS</a>
            </td>
            <td> NeoGeo Emulator
            </td>
            <td> ilhan
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,69" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=NGP&amp;action=edit&amp;redlink=1" class="new" title="NGP (page does not exist)">NGP</a>
            </td>
            <td> NeoGeo Pocket Emulator
            </td>
            <td> Subzero
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,68" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=O2EM_A320&amp;action=edit&amp;redlink=1" class="new" title="O2EM A320 (page does not exist)">O2EM A320</a>
            </td>
            <td> Odyssey2 / Videopac+ emulator
            </td>
            <td> jp
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,5,106" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=PIE&amp;action=edit&amp;redlink=1" class="new" title="PIE (page does not exist)">PIE</a>
            </td>
            <td> PIEa320 (PIE pacman arcade emulator port)
            </td>
            <td> SiENcE
            </td>
            <td> <a href="http://crankgaming.blogspot.com/2009/05/piea320-v02-by-sience-c09.html" class="external text" rel="nofollow">CrankGaming Blog</a> (with sources from svn)
                <p><a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,301" class="external text" rel="nofollow">Dingoo File Archive</a>
                </p>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=PocketSNES&amp;action=edit&amp;redlink=1" class="new" title="PocketSNES (page does not exist)">PocketSNES</a>
            </td>
            <td> SNES Emulator
            </td>
            <td> Reesy
            </td>
            <td> <a href="http://boards.dingoonity.org/dingoo-releases/pocketsnes-port-v1-for-native-firmware/" class="external autonumber" rel="nofollow">[1]</a>
            </td>
        </tr>

        <tr>
            <td> <a href="/{{ page.base }}?title=ProoSystem&amp;action=edit&amp;redlink=1" class="new" title="ProoSystem (page does not exist)">ProoSystem</a>
            </td>
            <td> Atari 7800 Emulator port from Greg Stanton
            </td>
            <td> Alekmaul
            </td>
            <td> NO LINK AVALIABLE
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SMS_%26_GG&amp;action=edit&amp;redlink=1" class="new" title="SMS &amp; GG (page does not exist)">SMS &amp; GG</a>
            </td>
            <td> Sega Master System and Game Gear Emulator
            </td>
            <td> Subzero
            </td>
            <td> NO LINK AVALIABLE
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SmsGGOO&amp;action=edit&amp;redlink=1" class="new" title="SmsGGOO (page does not exist)">SmsGGOO</a>
            </td>
            <td> Sega Master System and Game Gear Emulator
            </td>
            <td> alekmaul
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,300" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=NuiWSC&amp;action=edit&amp;redlink=1" class="new" title="NuiWSC (page does not exist)">nuiWSC</a>
            </td>
            <td> WonderSwan Emulator
            </td>
            <td> Jorge Hontoria Jiménez
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,71,286" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Unreal_Speccy_Portable&amp;action=edit&amp;redlink=1" class="new" title="Unreal Speccy Portable (page does not exist)">Unreal Speccy Portable</a>
            </td>
            <td> ZX-Spectrum Emulator
            </td>
            <td> djdron, scor
            </td>
            <td> <a href="http://code.google.com/p/unrealspeccyp" class="external text" rel="nofollow">Google Code</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=VectorGOO&amp;action=edit&amp;redlink=1" class="new" title="VectorGOO (page does not exist)">VectorGOO</a>
            </td>
            <td> Vector-06C Emulator
            </td>
            <td> Tim0xA
            </td>
            <td> <a href="http://code.google.com/p/timgoo" class="external text" rel="nofollow">Google Code</a>
            </td>
        </tr>
    </table>




{% endblock %}
