{% extends 'base.twig' %}



{% block content %}

    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> (Port) Author
            </th>
            <th> Download
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Brightness&amp;action=edit&amp;redlink=1" class="new" title="Brightness (page does not exist)">Brightness</a>
            </td>
            <td> Control and save brightness settings in Dingux
            </td>
            <td> wejp
            </td>
            <td> <a href="http://wejp.k.vu/dingoo-a320/display-brightness-control" class="external text" rel="nofollow">Wejp Blog</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=CPU&amp;action=edit&amp;redlink=1" class="new" title="CPU (page does not exist)">CPU</a>
            </td>
            <td> Overclocking application
            </td>
            <td> A600
            </td>
            <td> <a href="http://www.mediafire.com/download.php?nnklm315y2y" class="external text" rel="nofollow">MediaFire Mirror</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=CPUD&amp;action=edit&amp;redlink=1" class="new" title="CPUD (page does not exist)">CPUD</a>
            </td>
            <td> Dynamic Overclocking application
            </td>
            <td> cRTrn13
            </td>
            <td> <a href="http://voidcompilerdingoo.googlecode.com/files/cpud.tar" class="external text" rel="nofollow">Google Code</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DinguxCommander&amp;action=edit&amp;redlink=1" class="new" title="DinguxCommander (page does not exist)">DinguxCommander</a>
            </td>
            <td> A simple file manager for Dingux, in 'commander' style
            </td>
            <td> Mia
            </td>
            <td> <a href="http://beyondds.free.fr/index.php?Dingoo-dinguxcommander" class="external text" rel="nofollow">Homepage</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DinguXMB&amp;action=edit&amp;redlink=1" class="new" title="DinguXMB (page does not exist)">DinguXMB</a>
            </td>
            <td> Menu system
            </td>
            <td> Slaanesh
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,116,139" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Dmenu&amp;action=edit&amp;redlink=1" class="new" title="Dmenu (page does not exist)">dmenu</a>
            </td>
            <td> Menu system
            </td>
            <td> rookie1
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,8,112" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=FSM&amp;action=edit&amp;redlink=1" class="new" title="FSM (page does not exist)">FSM</a>
            </td>
            <td> Simple menu system
            </td>
            <td> darfgarf
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,116,257" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Fbgrab&amp;action=edit&amp;redlink=1" class="new" title="Fbgrab (page does not exist)">fbgrab</a>
            </td>
            <td> Screenshot maker
            </td>
            <td> Joyrider
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,8,275" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Gmenu2x" title="Gmenu2x">gmenu2x</a>
            </td>
            <td> Port of Gmenu2X to Dingux
            </td>
            <td> Joyrider
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,116,260" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=GMU&amp;action=edit&amp;redlink=1" class="new" title="GMU (page does not exist)">GMU</a>
            </td>
            <td> Music player, port of GMU from the GP2X to the Dingoo A320
            </td>
            <td> wejp
            </td>
            <td> <a href="http://wejp.k.vu/projects/gmu" class="external text" rel="nofollow">wejp project page</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=LGPT&amp;action=edit&amp;redlink=1" class="new" title="LGPT (page does not exist)">LGPT</a>
            </td>
            <td> MusicTracker
            </td>
            <td> xzakox
            </td>
            <td> <a href="http://www.10pm.org/nostromo/lgpt/ghetto/lgpt_dingoo.zip" class="external text" rel="nofollow">10pm Files</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=MPlayer&amp;action=edit&amp;redlink=1" class="new" title="MPlayer (page does not exist)">MPlayer</a>
            </td>
            <td> Multimedia Player
            </td>
            <td> lordbla
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,114,148" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=NuPDF&amp;action=edit&amp;redlink=1" class="new" title="NuPDF (page does not exist)">NuPDF</a>
            </td>
            <td> PDF reader
            </td>
            <td> darfgarf
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,113,330" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SDLcalc&amp;action=edit&amp;redlink=1" class="new" title="SDLcalc (page does not exist)">SDLcalc</a>
            </td>
            <td> Basic Calculator
            </td>
            <td> mrLogan
            </td>
            <td> <a href="http://a320.freeforums.org/download/file.php?id=87" class="external text" rel="nofollow">A320 Forum DL</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=SDLread&amp;action=edit&amp;redlink=1" class="new" title="SDLread (page does not exist)">SDLread</a>
            </td>
            <td> Text Viewer
            </td>
            <td> mrLogan
            </td>
            <td> <a href="http://www.mediafire.com/?xjl4knzkcto" class="external text" rel="nofollow">Mediafire (feel free to upload on a proper filespace)</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Tinypy&amp;action=edit&amp;redlink=1" class="new" title="Tinypy (page does not exist)">tinypy</a>
            </td>
            <td> Port of tinypy, minimalist implementation of python
            </td>
            <td> mrLogan
            </td>
            <td> <a href="http://a320.freeforums.org/download/file.php?id=84" class="external text" rel="nofollow">FreeForums Archive</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Vifm&amp;action=edit&amp;redlink=1" class="new" title="Vifm (page does not exist)">vifm</a>
            </td>
            <td> File manager
            </td>
            <td> ainu
            </td>
            <td> <a href="http://dingooa320.ru/download/vifm.zip" class="external text" rel="nofollow">Dingoo Ru Files</a>
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Volset&amp;action=edit&amp;redlink=1" class="new" title="Volset (page does not exist)">volset</a>
            </td>
            <td> Volume Changer
            </td>
            <td> ingood
            </td>
            <td> <a href="http://a320.freeforums.org/download/file.php?id=48" class="external text" rel="nofollow">FreeForums Archive</a>
            </td>
        </tr>
    </table>




{% endblock %}
