{% extends 'base.twig' %}

{% block content %}
<table width="100%">
    <tr>
        <td align="center">
            <div style="margin: 0 auto; margin-bottom: 5px; padding: .5em 1em .5em; border: 1px solid #88de35; background-color: #c2f7ba; border-radius: 5px;">
                <p>
                    Welcome to the Dingoonity Wiki. This is a static backup of the old MediaWiki.
                </p>
                <p>
                    Want to change something? You can now do so through a Github Pull Request. <a href="https://github.com/omgmog/wiki.dingoonity.org">Check out the repository on Github</a>.
                </p>
            </div>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td align="left" width="100%">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left">
                        <div style="margin: 0; margin-bottom: 5px; padding: .5em 1em .5em; border: 1px solid #c6c9ff; background-color: #f0f0ff; border-radius: 5px;">
                            <div class="floatleft"><a href="/{{ page.base }}?title=File:Tango-icon-note.png" class="image"><img alt="Tango-icon-note.png" src="/images/6/66/Tango-icon-note.png" width="48" height="48" /></a></div>
                            <h3> <span class="mw-headline" id="Most_Wanted">Most Wanted</span></h3>
                            <p>If you're interesting in editing, check out the <a href="/{{ page.base }}?title=Editing:Most_Wanted" title="Editing:Most Wanted">Most Wanted</a> edits.
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" border="0">
    <tr valign="top">
        <td style="vertical-align: top">
            <div style="margin: 0; margin-bottom: 5px; padding: .5em 1em .5em; border: 1px solid #c6c9ff; background-color: #f0f0ff; border-radius: 5px;">
                <div class="floatleft"><a href="/{{ page.base }}?title=File:Gnome-icon-documents.png" class="image"><img alt="Gnome-icon-documents.png" src="/images/2/25/Gnome-icon-documents.png" width="48" height="48" /></a></div>
                <h3> <span class="mw-headline" id="Navigation">Navigation</span></h3>
                <table width="100%" bgcolor="#fff" border="0" cellpadding="10" cellspacing="0" style="margin:auto;">
                    <tr align="left" bgcolor="#f0f0ff">
                        <th width="20%"> <b>Native Dingoo</b>
                        </th>
                        <th width="20%"> <b>Dingux</b>
                        </th>
                        <th width="20%"> <b>OpenDingux</b>
                        </th>
                        <th width="20%"> <b>Development</b>
                        </th>
                        <th width="20%"> <b>Other Devices</b>
                        </th>
                    </tr>
                    <tr valign="top" align="left" style="background: #f0f0ff; font-size: 92%;">
                        <td>
                            <ul>
                                <li><a href="/{{ page.base }}?title=Dingoo:About" title="Dingoo:About">About</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Emulators" title="Dingoo:Emulators">Emulators</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Games" title="Dingoo:Games">Games</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Applications" title="Dingoo:Applications">Applications</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Firmware" title="Dingoo:Firmware">Firmware</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Utilities" title="Dingoo:Utilities">Utilities</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:Tutorials" title="Dingoo:Tutorials">Tutorials</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingoo:FAQ" title="Dingoo:FAQ">FAQ</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/{{ page.base }}?title=Dingux:About" title="Dingux:About">About</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:Emulators" title="Dingux:Emulators">Emulators</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:Games" title="Dingux:Games">Games</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:Applications" title="Dingux:Applications">Applications</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:Kernel" title="Dingux:Kernel">Kernel</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:Tutorials" title="Dingux:Tutorials">Tutorials</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:TipsNTricks" title="Development:TipsNTricks">Tips'n'Tricks</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Dingux:FAQ" title="Dingux:FAQ">FAQ</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/{{ page.base }}?title=OpenDingux:About" title="OpenDingux:About">About</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Installation" title="OpenDingux:Installation">Installation</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Emulators" title="OpenDingux:Emulators">Emulators</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Games" title="OpenDingux:Games">Games</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Applications" title="OpenDingux:Applications">Applications</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Kernel&amp;action=edit&amp;redlink=1" class="new" title="OpenDingux:Kernel (page does not exist)">Kernel</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Development" title="OpenDingux:Development">Development</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:Tutorials&amp;action=edit&amp;redlink=1" class="new" title="OpenDingux:Tutorials (page does not exist)">Tutorials</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=OpenDingux:FAQ" title="OpenDingux:FAQ">FAQ</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/{{ page.base }}?title=Development:Getting_Started&amp;action=edit&amp;redlink=1" class="new" title="Development:Getting Started (page does not exist)">Getting Started</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:Tools" title="Development:Tools">Tools</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:WIP" title="Development:WIP">Work-In-Progress</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:Tutorials" title="Development:Tutorials">Tutorials</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:Hardware_Specs" title="Development:Hardware Specs">Hardware Documentation</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:Hardware_Hacking" title="Development:Hardware Hacking">Hardware Hacking</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Development:FAQ&amp;action=edit&amp;redlink=1" class="new" title="Development:FAQ (page does not exist)">FAQ</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li><a href="/{{ page.base }}?title=Other_Devices:Getting_Started&amp;action=edit&amp;redlink=1" class="new" title="Other Devices:Getting Started (page does not exist)">Getting Started</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Other_Devices:GCW_Zero&amp;action=edit&amp;redlink=1" class="new" title="Other Devices:GCW Zero (page does not exist)">GCW Zero</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Other_Devices:JXD_S7300B" title="Other Devices:JXD S7300B">JXD S7300B</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Other_Devices:JXD_S7800B" title="Other Devices:JXD S7800B">JXD S7800B</a>
                                </li>
                                <li><a href="/{{ page.base }}?title=Other_Devices:GPD_G7" title="Other Devices:GPD G7"> GPD G7</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="/{{ page.base }}?title=Other_Devices:FAQ&amp;action=edit&amp;redlink=1" class="new" title="Other Devices:FAQ (page does not exist)">FAQ</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td colspan="2" align="left">
            <div style="margin: 0; margin-bottom: 5px; padding: .5em 1em .5em; border: 1px solid #c6c9ff; background-color: #f0f0ff; border-radius: 5px;">
                <div class="floatleft"><a href="/{{ page.base }}?title=File:Gnome-icon-globe.png" class="image"><img alt="Gnome-icon-globe.png" src="/images/f/f1/Gnome-icon-globe.png" width="48" height="48" /></a></div>
                <h3> <span class="mw-headline" id="Community">Community</span></h3>
                <table border="0" cellpadding="5" style="background-color: #f0f0ff;">
                    <tr valign="top" align="left">
                        <td width="40%"><b>Links</b>
                            <ul>
                                <li><a href="http://www.dingoonity.org/" class="external text" rel="nofollow">Dingoonity</a>
                                </li>
                                <li><a href="http://www.treewalker.org/opendingux/" class="external text" rel="nofollow">OpenDingux</a>
                                </li>
                                <li><a href="http://dingoo-scene.blogspot.com/" class="external text" rel="nofollow">Dingoo-Scene Blog</a>
                                </li>
                                <li><a href="http://www.gp32x.com/board/index.php?showforum=73" class="external text" rel="nofollow">GP32X Dingoo Forums</a>
                                </li>
                                <li><a href="http://webchat.freenode.net/?channels=dingoonity" class="external text" rel="nofollow">Dingoonity IRC Chat channel</a>
                                </li>
                                <li><a href="http://www.dingoo-digital.com/" class="external text" rel="nofollow">Dingoo-Digital (unofficial english Dingoo A320 support site)</a>
                                </li>
                            </ul>
                            <ul>
                                <li><a href="http://www.dingux.com/" class="external text" rel="nofollow">Booboo's Dingux Blog</a> <b>(obsolete)</b>
                                </li>
                            </ul>
                            <p><a href="/{{ page.base }}?title=Community_Links" title="Community Links"><i>more...</i></a>
                            </p>
                        </td>
                        <td width="60%" valign="top" align="left"><b>Featured Article</b>
                            <div class="floatright"><a href="/{{ page.base }}?title=File:Gmenu2X.png" class="image" title="Dingoo-Linux"><img alt="Dingoo-Linux" src="/images/thumb/1/1f/Gmenu2X.png/300px-Gmenu2X.png" width="300" height="225" /></a></div>
                            <p><a href="/{{ page.base }}?title=Gmenu2x" title="Gmenu2x"> GMenu2X</a> is a frontend application targeted at embedded devices, originally developed for the GP2X and successively ported to other devices. GMenu2X provides an easy to use interface with quick access to the games and applications of the device trough links similar to those found on PC's desktops. Its interface is fully customizable with skins. Other features include: built-in selector for emulators, manuals and readmes integration, built-in overclocker, gamma and volume configuration, ram timings tweaker.
                            </p>
                            <div align="right" style="clear:both; margin-right: 15px"><a href="/{{ page.base }}?title=Previously_featured_applications&amp;action=edit&amp;redlink=1" class="new" title="Previously featured applications (page does not exist)">Previous applications</a> • <a href="/{{ page.base }}?title=Talk:Featured_applications&amp;action=edit&amp;redlink=1" class="new" title="Talk:Featured applications (page does not exist)">Suggest an application</a></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
