{% extends 'base.twig' %}



{% block content %}

    <table class="wikitable sortable" width="100%">

        <tr>
            <th width="25%"> Title
            </th>
            <th> Description
            </th>
            <th width="20%"> (Port) Author
            </th>
            <th> Download
            </th>
            <th> Mirrors
            </th>
            <th> Issues?
            </th>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=CZDoom&amp;action=edit&amp;redlink=1" class="new" title="CZDoom (page does not exist)">CZDoom</a>
            </td>
            <td> Optimized port of PC Doom based on PRBoom
            </td>
            <td> Congo Zombie
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,3,174" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> n/a
            </td>
            <td> requires swap for Doom 1
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=DgFrontier&amp;action=edit&amp;redlink=1" class="new" title="DgFrontier (page does not exist)">DgFrontier</a>
            </td>
            <td> port of Frontier: Elite II
            </td>
            <td> Reesy
            </td>
            <td> <a href="https://sites.google.com/site/reesyemulation/frontier" class="external text" rel="nofollow">Reesy's site</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Eduke32&amp;action=edit&amp;redlink=1" class="new" title="Eduke32 (page does not exist)">eduke32</a>
            </td>
            <td> Port of Duke Nukem 3D
            </td>
            <td> Zear
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,30,604" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Heretic&amp;action=edit&amp;redlink=1" class="new" title="Heretic (page does not exist)">Heretic</a>
            </td>
            <td> Port of the Heretic Engine
            </td>
            <td> Johnny on Flame
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,30,505" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> n/a
            </td>
            <td> requires swap
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Hexen&amp;action=edit&amp;redlink=1" class="new" title="Hexen (page does not exist)">Hexen</a>
            </td>
            <td> Port of Hexen Engine (runs Hexen and Hexen: DotDC)
            </td>
            <td> Johnny on Flame
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,30,509" class="external text" rel="nofollow">Dingoo File Archive</a>
            </td>
            <td> n/a
            </td>
            <td> requires swap
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Metro-Cross&amp;action=edit&amp;redlink=1" class="new" title="Metro-Cross (page does not exist)">Metro-Cross</a>
            </td>
            <td> remake of "Metro-Cross"
            </td>
            <td> Shin-NIL
            </td>
            <td> <a href="http://www.mediafire.com/download/y1ray0vl80onvrg/metro.zip" class="external text" rel="nofollow">MediaFire</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=Mini_Slug&amp;action=edit&amp;redlink=1" class="new" title="Mini Slug (page does not exist)">Mini Slug</a>
            </td>
            <td> Game based/inspired on Metal Slug
            </td>
            <td> Clément Corde, ported to OD by Shin-NIL
            </td>
            <td> <a href="http://www.mediafire.com/?34ae06jatzi8555" class="external text" rel="nofollow">MediaFire</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=OpenBOR&amp;action=edit&amp;redlink=1" class="new" title="OpenBOR (page does not exist)">OpenBOR</a>
            </td>
            <td> implementation of the "Beats of Rage" game engine
            </td>
            <td> Shin-NiL
            </td>
            <td> <a href="http://www.shinnil.co.cc/2012/07/openbor-otimizado-para-opendingux.html" class="external text" rel="nofollow">Shin-NiL's site</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=OpenLiero&amp;action=edit&amp;redlink=1" class="new" title="OpenLiero (page does not exist)">OpenLiero</a>
            </td>
            <td> port of OpenLiero
            </td>
            <td> Zear, JPetersen
            </td>
            <td> <a href="http://dl.openhandhelds.org/cgi-bin/dingoo.cgi?0,0,0,0,3,705" class="external text" rel="nofollow">Openhandhelds.org</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
        <tr>
            <td> <a href="/{{ page.base }}?title=REminiscence&amp;action=edit&amp;redlink=1" class="new" title="REminiscence (page does not exist)">REminiscence</a>
            </td>
            <td> port of REminiscence, game engine for Flashback
            </td>
            <td> virusmater
            </td>
            <td> <a href="http://www.mediafire.com/?goyngi4cozf0uye" class="external text" rel="nofollow">Mediafire</a>
            </td>
            <td> n/a
            </td>
            <td> n/a
            </td>
        </tr>
    </table>




{% endblock %}
